# Copy to .env on the VPS and fill in real values.

# Domain (used for Ghost URL, Nginx server_name, Let's Encrypt)
DOMAIN=alfycodes.me

# Email for Let's Encrypt certificate notifications
CERTBOT_EMAIL=you@example.com

# Database credentials for Ghost (MySQL)
MYSQL_DB=Database name
MYSQL_USER=Username
MYSQL_PASSWORD=Password
MYSQL_ROOT_PASSWORD=Root Password

# Brevo SMTP email
SMTP_FROM="Name of your Site <custom-example@subdomain.domain.com>"
SMTP_USER=In brevo the "login" label that will be shown
SMTP_PASS=This is the SMTP Key generated in brevo